ul {
   list-style-type: none;
   padding: 0;
}

.post-container {
   text-align: center;
}

.post-container > * {
   text-align: left;
}

.btn {
   background-color: #4a596d;
   color: white;
}

ul {
   margin-top: 20px;
}

.alert.alert-danger {
   text-align: center;
}