<div class="text-center mb-3">
  <a routerLink="/add-post" class="btn">Add new post</a>
</div>
<div class="col-md-8 offset-md-2 post-container">
  <ul *ngIf="!isLoading || page !== 1">
    <li *ngFor="let post of postList; trackBy: updatePosts">
      <app-post [post]="post"></app-post>
    </li>
  </ul>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
<!-- <app-error-popup *ngIf="errorMsg" (popupClosed)="closePopup()"></app-error-popup> -->
<p class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</p>