<div class="container-fluid">
   <div class="col-md-6 mx-auto custom-form">
      <h4 class="card-title text-center mb-3">Add new post</h4>
      <form (ngSubmit)="onNewPostAdd()" #f="ngForm">
         <div class="form-group mb-5">
            <label for="author" class="form-label">Name</label>
            <input type="text" class="form-control custom-form-input" id="author" name="author" placeholder="Enter name (not required)" [ngModel]="defaultAuthor" #author="ngModel" maxlength="20">
            <p class="help-block" *ngIf="author.errors?.hasOwnProperty('maxlength') && (author.touched || form.submitted)">Name cannot be longer than 20 characters</p>
         </div>
         <div class="form-group mb-5">
            <label for="header" class="form-label">Title</label>
            <input type="text" class="form-control custom-form-input" id="header" name="header" placeholder="Enter title" ngModel #header="ngModel" required maxlength="60">
            <p class="help-block" *ngIf="header.errors?.hasOwnProperty('required') && (header.touched || form.submitted)">Title is required</p>
            <p class="help-block" *ngIf="header.errors?.hasOwnProperty('maxlength') && (header.touched || form.submitted)">Title cannot be longer than 60 characters</p>
         </div>
         <div class="form-group mb-5">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control custom-form-input" id="content" name="content" rows="5" placeholder="Enter content" ngModel #content="ngModel" required maxlength="1000"></textarea>
            <p class="help-block" *ngIf="content.errors?.hasOwnProperty('required') && (content.touched || form.submitted)">Content is required</p>
            <p class="help-block" *ngIf="content.errors?.hasOwnProperty('maxlength') && (content.touched || form.submitted)">Content cannot be longer than 1000 characters</p>
         </div>
         <pre class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</pre>
         <div class="centered-buttons">
            <button type="submit" class="btn btn-primary me-2">Add post</button>
            <a routerLink="/" class="btn btn-secondary">Cancel</a>
         </div>
      </form>
   </div>
 </div>