.card.mb-3 {
   box-shadow: 0 0 5px 0 #333;
}

.post-date {
   font-size: .75rem;
}

.post-author {
   font-size: .9rem;
}

.card-body {
   margin-bottom: 10px;
}

.comments-amount {
   cursor: pointer;
   user-select: none;
}

.comments-amount-open {
   background-color: #39424a !important;
}

.post-container {
   overflow: hidden;
}